$bg-color:#d1c4e9;
$text-color:#673ab7;
$shop-cart-number-width:28px;
.shop_cart{
  padding-right: 20px;
  padding-top: 3px;
  position: relative;
  .fa-cart-shopping{
    color:rgb(178, 13, 13);
  }
  .shop_cart_number{
    background-color: #673ab7;
    border-radius: 50%;
    color:white;
    font-size:medium;
    height: $shop-cart-number-width;
    line-height: $shop-cart-number-width;
    position: absolute;
    top: -10px;
    text-align: center;
    right: 0px;
    width: $shop-cart-number-width;

  }
}
ul{
  display: flex;
  li{
    list-style: none;
    display: flex;
    margin: auto 10px;
  }
}
.nav {
  background-color: $bg-color;
  box-shadow: 2px 2px 2px 1px #0003;
  display: flex;
  height: 70px;
  justify-content: space-between;
  list-style-type: none;
  margin: 0px auto auto auto;
  padding-inline-start: 0px;
  max-width: 100%;
  width: 100%;
  ul{
  margin-bottom: 0rem;
    li {
      display: flex;
      list-style-type: none;
      margin: auto 10px;
      &.activeNav {
        border-bottom: 2px solid $text-color;
      }
      a {
        cursor: pointer;
        color: $text-color;
        font-weight:600;
        text-decoration: none;
        display: flex;
        i{
          display: flex;
          align-items: center;
          margin-right: 5px;
        }
      }
    }
  }
  &.adminBg{
    background-color: #333;
    color:white;
    li{
      &.activeNav {
        border-bottom: 1px solid #ddd;
      }
    }
    .right_content{
      display: flex;
      margin-right: 55px;

      li{
        a{
          border-bottom: 1px solid #ddd;
          &.active{
            border-bottom: 1px solid #ddd;
          }
        }
      }
    }
    li {
      a {
        cursor: pointer;
        color: #ddd;
        text-decoration: none;
      }
    }

  }

}
 .right_content{
  margin-right: 45px;
 }
.activeNav {
  border-bottom: 1px solid #333;
}


