$color_default:#673ab7;
.btn-danger{
  background-color: #c3abec;
  border:1px solid #c3abec;
  &:hover,&:focus{
    background-color: $color_default;
    border:1px solid $color_default
  }
}
.btn_default{
  border:2px solid $color_default;
  &:hover,&:focus{
    background-color: $color_default;
    color:#ffff;
  }
}
.list_icon{
  display: flex;
  justify-content: center;
  margin-top: 25px;
  font-size: 1.5rem;
  .search{
    display: flex;
    width: 91%;
    margin:auto 5px auto 0px;
  }
  i{
    margin: 10px;
    cursor: pointer;
    &:hover,&:focus{
      color:#80808080;
    }
    &.active{
      color:$color_default;
    }
  }
}

.product_area{
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  .card_lists{
      margin: 0px auto;
      column-count:4;
      column-gap: 10px;
      width: 90%;
    &.other{
        display: flex;
        flex-wrap: wrap;
        font-size: medium;
        max-width: 100%;
        column-count:0;
        column-gap: 0px;
        width:100%;
        padding: 0px;
        .li{
          align-items: center;
          border-bottom: 1px solid #ddd;
          display: flex;
          flex-wrap: nowrap;
          flex-direction: row;
          padding: 0px;
          max-width:100%;
          margin: 2px auto;
          width:100%;
          .btn-danger{
            display: block;
            width: 100px;
          }
          .index{
            width: 5%;
            margin-top: 0px;
            line-height: 1.8;
            .round{
              line-height: 1.8;
              div{
                line-height: 1.8;
              }
            }
          }
          div{
            align-items: center;
            display: flex;
            justify-content: flex-start;
            line-height: 1.5;
            width: 13%;
          }

          .category{
            margin-top: 0px;
            padding-left: 6px;
            width: 10%;
          }
          .name{
            padding-left: 6px;
            width: 16%;
          }
          .img_area{
            padding: 1px;
            .img{
              border-width: 0px;
              width: 90px;
              img{
                object-fit: contain;
                object-position: center;
                width: 70px;
                height: 50px;
              }
            }
          }
          .price_area{
            width: 10%;
            .btn-danger{
              display: none;
            }
          }
          .createdTime,.updatedTime{
            width: 27%;
          }
          .content{
            width: 38%;
            p{
              margin-bottom: 0rem;
            }
          }
          .btn-danger{
            white-space: nowrap;
          }
        }
    }
    .li{
      cursor: pointer;
      box-sizing: border-box;
      break-inside: avoid;
      margin: 0 auto 3px;
      padding: 5px;
      position: relative;
      &:hover{
        .name{
          color:$color_default;
        }
        img{
          filter: saturate(200%);
          -webkit-filter:saturate(200%);
        }
      }
      .category,.name,.price_area, .createdTime,.updatedTime{
        white-space: nowrap;
        text-align: left;
      }
      img,div{
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
        }
        .index{
          margin-top: 21px;
          .round{
            border-radius: 50%;
            border: 1px solid $color_default;
            background-color: $color_default;
            color:#ffff;
            width: 32px;
            height: 32px;
            text-align: center;
          }
        }
        .category{
          font-weight: 400;
        }
        .name{
          white-space: nowrap;
          font-weight: bolder;

        }
        .img{
          border:1px solid #ddd;
          padding: 2px;
        }
        .price_area{
          .price_text{
            font-weight: bolder;
          }
          .btn-danger{
            display:block;
          }
        }
        .content{
          p{
            width: 90%;
            padding: 2px;
            overflow:hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
        .btn-danger{
          display:none;
          white-space: nowrap;
        }
        .createdTime{
          font-size:medium;
        }
    }
  }
}

@media screen and (width<=1200px){
}
@media screen and (width<=992px){
  .product_area {
    max-width: 970px;
  }
}
@media screen and (width<=930px){
}
@media screen and (width<=925px){
}

@media screen and (width<=768px){
  .product_area .card_lists {
    width: 90%;
  }
}

@media screen and (width<=767px){
  .product_area .card_lists {
    column-count: 3;
    width: 95%;
    &.other{
      column-count: 3;
      column-gap: 0px;
      width: 95%;
      .li {

        padding: 5px;
        box-sizing: border-box;
        margin: 0 auto 3px;
        break-inside: avoid;
        position: relative;
        flex-direction: row;
        flex-wrap: wrap;
        width: 30%;
        div{
          width: 33%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
        }
        .index,.category,.name,.img_area,.price_area,.createdTime,.content,.btn.btn-dange{
          width: 100%;
        }
        .img_area{
          .img{
            width: 100%;
            img{
              height: auto;
              width: 100%;
            }
          }
        }
        .btn-danger{
          width: 100%;
        }
      }
    }
  }
  .product_area .card_lists.other .li .index {
    width: 100%;
    margin-top: 0px;
    line-height: 1.8;
}
}

@media screen and (width<=640px){
   .product_area .card_lists {
    column-count: 2;
    width: 95%;
     &.other{
      column-count: 2;
      column-gap: 0px;
      width: 95%;
      .li {
        width: 47%;
      }
     }
  }
}
