@use 'bootstrap/scss/bootstrap';
$default-font-size:20px;
$color_default:#673ab7;
$bg-color:#d1c4e9;
$shop-cart-number-width:28px;
$shop-add-icon:green;
$shop-minus-icon:rgb(180, 22, 22);
html, body { height: 100%;
font-size: $default-font-size; }

body {
  margin: 0;
}

.ml-1{
margin-left: 10px;
}
.ml-2{
margin-left: 20px;
}
.carts{
  position: absolute;
  top: 21px;
  right: 210px;
  display: flex;
  flex-direction: column;
  .shop_cart{
    cursor: pointer;
    padding-right: 20px;
    padding-top: 3px;
    position: absolute;
    .fa-cart-shopping{
      color:rgb(178, 13, 13);
    }
    .shop_cart_number{
      position: relative;
      background-color: #673ab7;
      border-radius: 50%;
      color:white;
      font-size:medium;
      height: $shop-cart-number-width;
      line-height: $shop-cart-number-width;
      position: absolute;
      top: -10px;
      text-align: center;
      right: 0px;
      width: $shop-cart-number-width;

    }
  }
  .shopLists{
    background-color: #ffff;
    border:1px solid $color_default;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-inline-start: 0px;
    position: absolute;
    top:35px;
    right: -150px;
    width: 330px;
    z-index: 999;
    li{
      display: flex;
      flex-direction:row;
      justify-content: flex-start;
        padding:8px 15px;
      &.fare,&.totalSum{
          text-align: right;
          display: block;
      }
      &.totalSum{
        color:red;
      }
      div{
        display: flex;
        flex-direction: row;
        i{
          cursor: pointer;
          margin: auto 10px;
          font-size: 18px;
          &.fa-plus{
            color:$shop-add-icon;
            &:hover,&:focus{
              color:rgb(9, 74, 9);
            }
          }
          &.fa-minus{
            color:$shop-minus-icon;
            &:hover,&:focus{
              color:rgb(136, 11, 11)
            }
          }
        }

          &:first-child{
            justify-items: flex-start;
            width: 45%;
          }
      }
      .btn-danger{
        width: 100%;
      }
      &:last-child{
        justify-content: flex-end;
      }
    }
  }
}
//table
.table_container{
  margin-top: 60px;
  th{
    &:nth-child(2),
    &:nth-child(3),
   &:nth-child(4){
    cursor: pointer;
    position: relative;
    &:hover{
      color:#795548;
      &::after{
          content: "\f077";
          font-family: "Font Awesome 6 Free";
          font-style: normal;
          font-variant: normal;
          font-weight: 900;
          line-height: 1.5;
          margin-right: 10px;
          position: absolute;
          top:20%;
          right:10%;
          text-rendering: auto;
          --fa: "\f077";
          -webkit-font-smoothing: antialiased;
          display: var(--fa-display, inline-block);
      }
    }
    &.asc{
      &::after{
       transform: rotate(0deg);
      }
    }
    &.desc{
      &::after{
       transform: rotate(180deg);
      }
    }
   }
  }
}
.default_table{
  margin: auto;
  .row{
     width: 100%;
    max-width: 100%;
  }
}
.form-control{
  width: 100%;
  max-width: 100%;
  border:2px solid rgb(44, 120, 235);
  letter-spacing: 1.5px;
  &:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: rgb(134, 182.5, 254);
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgba(13, 110, 253, 0.25);
}
}
// 分頁Pagination
.page-link:focus {
    background-color: transparent;
    box-shadow: inset 1px -1px 0 0.25rem  transparent;
}
a:-webkit-any-link:focus-visible {
    outline-offset: 0px;
}
a:hover {
    --bs-link-color-rgb:  transparent;
}
:focus-visible {
    outline: white auto 0px;
}
.ng_pagination_area {
  align-items: center;
  .pagination_bar{
    display: flex;
    align-items: center;
  }
  .pagination{
    margin-bottom: 0rem;
    li {
      &:first-child a {
        span {
          display: none;
        }
      }
    }
    .active > {
      .page-link{
        color:$color_default;
        background-color: transparent;
        border-radius: 50%;
        border:  2px solid $color_default;
        &:hover,&:focus{
          background-color: transparent;
        }
      }
    }
    .page-item{
      .page-link{
        color:$color_default;
        border-color: transparent;
        background-color: transparent;
        &:hover,&:focus{
          background-color: transparent;
          border: 0px solid transparent;
        }
      }
      &.disabled{
        .page-link{
          color:#ddd;
        }
      }
      &:not( :first-child,:last-child,:nth-child(2),:nth-last-child(2) ){
        .page-link{
          &:hover,&:focus{
            background-color: transparent;
            border-radius: 50%;
            border:  2px solid $color_default;
          }
        }
      }
      &:not(:first-child){ color:red; }
      }
  }
}
// .btn{
//    border:1px solid $color_default;
// }
.dropup{
   margin-left: 10px;
  .dropdown-toggle{
    border-color:$color_default;
    color:#333;
  }
  .btn{
    border:1px solid $color_default;
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.175rem;
    &:hover,&:focus{
      background-color: $color_default;
      color:#ffff;
    }
  }
  .dropdown-menu{
    min-width: 50px;
    &.show {
      min-width: 50px
    }
    .dropdown-item{
      &.active,
      &:active{
      background-color: $color_default;
        color:#333;
      }
    }
  }
}
.dropdown-menu{
    min-width: 50px;
    &.show {
      min-width: 50px
    }
}
.btn-check:checked + .btn,
:not(.btn-check) +
.btn:active,
.btn:first-child:active,
.btn.active,
.btn.show {
    color:#ffff;
    background-color:$color_default;
    border-color: $color_default;
}

footer{
  background-color: $bg-color;
  display: flex;
  justify-content: center;
  p{
    display: block;
    font-size: 12px;
    margin-bottom: 0rem;
    padding: 5px;
    text-align: center;
  }
}

@media screen and (width<=767px){}
@media screen and (width<=600px){}
